.container
{
    float : right;
    
    width : 500px;
    text-align: center;
}

#b2008container
{
    color : white;
    border : 2px solid red;
    background-color:red;
}


table
{
    width : 500px;
    border-collapse: collapse;
    border-width : 2px;
}
