.b2008-bottom-body tr
{
    background-color: black;
    color : gray;
}
.b2008-bottom-body tr tr td
{
    height : 40px;
    background-color: white;
    text-align: center;
    width : 400px;
}

.border
{
    font-weight: bolder;    
}
.b2008-bottom-body th
{
    color : white;
    background-color: red;
    width:30%;
    border-bottom: 1px solid black;
}

.b2008-bottom-body > tr > td
{
    height : 40px;
    background-color: white;
    text-align: center;
    font-size: 18px;
    border : 1px solid black;
}