.content-list
{
    border : 1px solid gray;
    float : left;
    color : white;
    
}

.content-list h2
{
    font-weight: normal;
}

.content-list ul
{
    list-style: none;
}

ul {
    list-style-position: inside;
}
li {
    margin: 0px 40px;
    font-size: 19px;
}

aside a
{
    color : rgb(255, 153, 0);
    text-decoration-line: none;
}

aside a:hover
{
    text-decoration-line: underline;
}
