.bg {
  border: 0;
  padding: 0;
  background-image: url("../img/img_front_visual.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: calc(100vh - 150px);
  background-position: center;
}
