.ShArti {
  min-height: calc(100vh - 150px);
  width: 100vw;
}
.srch {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.divinput {
  display: flex;
  justify-content: center;
}
#Shinput {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 300px;
  height: 40px;
  font-size: 25px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid black;
}
#Shinput:focus {
  outline: none;
}
