.hi {
  min-height: calc(100vh - 150px);
  background-color: gray;
  opacity: 0.7;
  width: 100vw;
}
.srch {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.ip {
  display: flex;
  justify-content: center;
}
