@media (max-width:1400px)
{
    .top-article
    {
        display:grid;
    }
}

.top-a-container
{
    width : 100%;
    font-family: Open Sans, arial, Apple SD Gothic Neo,
                Noto Sans CJK, 본고딕;
}

.top-aside
{
    width:15%;
    background-color: black;
}

.top-article
{
    width:100%;
}


