.container
{
    float : right;
    
    width : 500px;
    
    text-align: center;
}

#a2004container
{
    color : white;
    border : 2px solid #4a8de1;
    background-color:#4a8de1;
}

table
{
    width : 500px;
    border-collapse: collapse;
    border-width : 2px;
}
